.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.bg{ 
  background-color: #b9dee6;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;

}

.App-header {

  display: flex;
  /* flex-direction: column;
  align-items: center;
  justify-content: center; */
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.drag-n-drop {
  gap: 20px;
  padding: 10px;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(auto-fill, 300px);
  align-items: start;
}

.dnd-group {
  background-color: #83a1ef;
  border-radius: 10px;
  padding: 10px;
}
.dnd-item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 85px;
  background-color: rgb(227, 232, 239);
  border-radius: 15px;
  color: black;
  font-weight: bold;
}
.dnd-item * {
  margin: 0;
  font-size: 20px;
}

.dnd-item:not(:last-of-type) {
  margin-bottom: 10px;
}

.group-title {
  text-align: left;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
  color: #f0f0f0;
  margin-left: 20px;
}

.current {
  background-color: rgb(0, 0, 0);
}
